.card {
  border-radius: 8px;
  box-shadow: var(--bx-shdw-main-color);

  min-height: 10vh;
  overflow: hidden;
  position: relative;
  transition: all 200ms linear;
}

.card:hover {
  opacity: 0.8;
}

.card a {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-rows: 1fr 1fr;
}

.cardTop img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: large;
  font-size: larger;
}

.subtitle {
  margin-top: 0.5rem;
}

.cardBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  /* gap: 0.5rem; */
}

.card:nth-child(12n + 1),
.card:nth-child(12n + 2),
.card:nth-child(12n + 3),
.card:nth-child(12n + 6),
.card:nth-child(12n + 7),
.card:nth-child(12n + 8),
.card:nth-child(12n + 10),
.card:nth-child(12n + 11),
.card:nth-child(12n + 12) {
  grid-column: auto / span 4;
}

.card:nth-child(12n + 4),
.card:nth-child(12n + 5) {
  grid-column: auto / span 6;
}

.card:nth-child(12n + 9) {
  grid-column: auto / span 12;
  background-color: var(--bg-secondary-color);
  color: var(--primary-color);
  justify-content: center;
  align-items: center;
}

.card:nth-child(12n + 9) > a {
  color: var(--primary-color);
  justify-content: center;
  align-items: center;
}

.card:nth-child(12n + 4) a::after {
  background-image: var(--dark-gradient-card-mask);
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  z-index: 1;
}
.card:nth-child(12n + 5) a::after {
  background-image: var(--brown-gradient-card-mask);
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
  z-index: 1;
}

.card:nth-child(12n + 4) .cardBottom,
.card:nth-child(12n + 5) .cardBottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding-bottom: 0.5rem;
}

.card:nth-child(12n + 9) .cardTop,
.card:nth-child(12n + 9) .tags,
.card:nth-child(12n + 9) .publishInfo {
  display: none;
}

.publishInfo {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-size: 0.7rem;
  opacity: 0.5;
}

.tags {
  display: flex;
  gap: 0.3rem;
  text-transform: uppercase;
  font-size: 0.5rem;
  opacity: 0.5;
}

.tags > span {
  background-color: var(--bg-secondary-color);
}

@media (max-width: 700px) {
  .card:nth-child(odd),
  .card:nth-child(even) {
    grid-column: 1;
  }

  .card:nth-child(12n + 4) a::after,
  .card:nth-child(12n + 5) a::after {
    background-image: none;
  }

  .card:nth-child(12n + 4) .cardBottom,
  .card:nth-child(12n + 5) .cardBottom {
    position: static;
    padding-bottom: 1rem;
  }

  .card:nth-child(12n + 9) {
    background-color: transparent;
    justify-content: initial;
    align-items: initial;
    color: inherit;
  }

  .card:nth-child(12n + 9) > a {
    color: inherit;
    justify-content: initial;
    align-items: initial;
  }

  .card:nth-child(12n + 9) .cardTop,
  .card:nth-child(12n + 9) .tags,
  .card:nth-child(12n + 9) .publishInfo {
    display: initial;
  }
}
