.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--bg-main-color);
  color: var(--text-main-color);
  transition: all 0.2s linear;
}
