.logoWrap {
  max-height: 2rem;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  font-family: 'El Messiri', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
}

.logoPic {
  max-width: 2rem;
  max-height: 100%;
}

.logoWrap::before {
  content: 'React';
}

.logoWrap::after {
  content: 'News';
}
