.info-panel {
  width: 100%;
  margin: 1rem auto;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 1rem;
  border-radius: 10px;
  background-color: #2b1811;
  color: #f75404;
  font-weight: 700;
}

.info-panel article:first-child {
  min-width: 25%;
}

.info-panel > article:last-child {
  min-width: 25%;
  text-align: end;
}
