.navigation {
  justify-self: center;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

a {
  width: max-content;
  text-decoration: none;
  color: var(--text-main-color);
  transition: all 0.3s ease;
}

.activeLink {
  color: var(--primary-color);
}

.inactiveLink:hover {
  opacity: 0.7;
}
