.header {
  width: 100%;
  max-width: 1335px;
  margin: 1rem auto 0 auto;
  min-height: 5rem;
  color: var(--text-main-color);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

@media (max-width: 1366px) {
  .header {
    max-width: 1024px;
  }
}
