:root {
  --bg-main-color: #000;
  --text-main-color: #fff;
  --primary-color: #f75404;
  --bg-overlay-color: #141414;
  --bg-secondary-color: #2b1811;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-main-color);
  color: var(--text-main-color);
}

@media (max-width: 1100px) {
  html {
    font-size: 14px;
  }
}
